ENVIROMENT=DEVELPMENT

## Postgresql
POSTGRES_HOST=host.docker.internal
POSTGRES_USER=AAAAAA
POSTGRES_PASSWORD=AAAAAAA
POSTGRES_DB=bbbbbb

## Global Enviroments.
TZ=Asia/Tokyo
github=
HOSTNAME=localhost

## Api Cookie
TWIP_LOGIN_TOKEN_COOKIE_NAME=twip_cookie